body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-msg{
  background: #1c1e21;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  float: right;
  margin-top:10px
}

.other-msg{
  background: #769729;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
